<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <header>
        <a class="btn btn-pry" href="index.html">volver</a>
        <h2 class="title" >Cliente</h2>
        <span id="statusStream"></span>
        <button class="btn btn-pry" id="btn">Recargar</button>
    </header>
    <div class="container">
        <img class="display" id="play" src="./assets/fondo.png" width="1100" height="619" alt="share">
    </div>
    <script>
        const btn = document.getElementById("btn");
        const img = document.getElementById("play");
        const statusStream = document.getElementById("statusStream");

        btn.onclick = () => {
            window.location.reload();
        }

        const socket = io();

        socket.on("connect", () => {
            console.log("Connect", socket.id);
        })

        socket.on("disconnect", () => {
            console.log("Disconnect", socket.id);
        })

        socket.on("stream", (image) => {
            img.src = image;
            statusStream.classList.add("live-cliente");
            statusStream.textContent = "Recibiendo transmisión";
        })
        socket.on("stop", (data) => {
            console.log(data);
            statusStream.classList.remove("live-cliente");
            statusStream.textContent = "";
            img.src = "./assets/fondo.png"
        })
    </script>
</body>
</html>